.style-0 {
    place-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 50px;
    height: 1406.34px;
    overflow: hidden;
    padding: 80px 0px 120px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-1 {
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 60px;
    height: 1206.34px;
    max-width: 1200px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 90%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-2 {
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 20px;
    height: 185.6px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-3 {
    flex: 0 0 auto;
    height: auto;
    position: relative;
    width: auto;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-4 {
    display: contents;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.style-5 {
    --border-bottom-width: 1px;
    --border-color: rgba(130, 71, 255, 0.2);
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    background-color: var(--token-20257545-130a-452b-8942-48d79a1f3d66, rgb(255, 255, 255));
    border-radius: 8px;
    opacity: 1;
    --border-color: rgba(130, 71, 255, 0.2);
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    opacity: 1;
    place-content: center;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 6px;
    height: 29.6px;
    padding: 4px 10px;
    position: relative;
    width: min-content;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-6 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-8d3b0b5c-ed9a-45d2-b302-4c9cef737fdc, rgb(130, 71, 255));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-8d3b0b5c-ed9a-45d2-b302-4c9cef737fdc, rgb(130, 71, 255));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    position: relative;
    flex: 0 0 auto;
    height: auto;
    white-space: pre;
    width: auto;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-7 {
    --font-selector: R0Y7T3V0Zml0LTYwMA==;
    --framer-font-family: &quot, Outfit&quot, sans-serif;
    --framer-font-size: 18px;
    --framer-font-weight: 600;
    --framer-text-color: var(--extracted-r6o4lv)font-family:Outfit, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(130, 71, 255);
    font-size: 18px;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none solid rgb(130, 71, 255);
    line-height: 21.6px;
    text-align: start;
    margin: 0px;
    padding: 0px;
    font-family: Outfit, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-8 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-8d3b0b5c-ed9a-45d2-b302-4c9cef737fdc, rgb(130, 71, 255));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-8d3b0b5c-ed9a-45d2-b302-4c9cef737fdc, rgb(130, 71, 255));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    position: relative;
    flex: 0 0 auto;
    height: auto;
    white-space: pre;
    width: auto;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-9 {
    --font-selector: R0Y7T3V0Zml0LTYwMA==;
    --framer-font-family: &quot,Outfit&quot,sans-serif;
    --framer-font-size: 12px;
    --framer-font-weight: 600;
    --framer-letter-spacing: 0.08em;
    --framer-text-color: var(--extracted-r6o4lv);
    --framer-text-transform: uppercasefont-family:Outfit, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(130, 71, 255);
    font-size: 12px;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    text-decoration: none solid rgb(130, 71, 255);
    line-height: 14.4px;
    text-align: start;
    margin: 0px;
    padding: 0px;
    font-family: Outfit, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-10 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 1;
    flex-shrink: 0;
    transform: perspective(1200px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 1;
    flex-shrink: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.000833333, 0, 0, 0, 1);
    position: relative;
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    flex: 0 0 auto;
    height: auto;
    max-width: 1200px;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    z-index: 1;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-11 {
    --framer-text-color: var(--token-d23dd5a9-b486-4fa3-8394-2cd7943f28da, rgb(7, 6, 27))font-family:Outfit, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(28, 28, 28);
    font-size: 56px;
    letter-spacing: -1px;
    text-transform: none;
    text-decoration: none solid rgb(28, 28, 28);
    line-height: 56px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    --framer-font-family: 'Outfit', sans-serif;
    --framer-font-size: 56px;
    --framer-font-style: normal;
    --framer-font-weight: 500;
    --framer-letter-spacing: -1px;
    --framer-line-height: 1em;
    --framer-paragraph-spacing: 40px;
    --framer-text-alignment: center;
    --framer-text-decoration: none;
    --framer-text-transform: none;
    font-family: Outfit, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-12 {
    --framer-text-color: var(--token-64932479-7baa-43ec-9f43-39d03638d132, rgb(254, 129, 98))font-family:Outfit, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(254, 129, 98);
    font-size: 56px;
    letter-spacing: -1px;
    text-transform: none;
    text-decoration: none solid rgb(254, 129, 98);
    line-height: 56px;
    text-align: center;
    font-family: Outfit, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-13 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    position:relative;
    --framer-paragraph-spacing: 0px;
    flex: 0 0 auto;
    height: auto;
    max-width: 600px;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    z-index: 3;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-14 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(118, 117, 117);
    font-size: 20px;
    letter-spacing: -0.5px;
    text-transform: none;
    text-decoration: none solid rgb(118, 117, 117);
    line-height: 30px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    --framer-font-family: 'Inter', sans-serif;
    --framer-font-size: 20px;
    --framer-font-style: normal;
    --framer-font-weight: 500;
    --framer-letter-spacing: -.5px;
    --framer-line-height: 1.5em;
    --framer-paragraph-spacing: 20px;
    --framer-text-alignment: center;
    --framer-text-color: 1;
    --framer-text-decoration: none;
    --framer-text-transform: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-15 {
    place-content: flex-start center;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 40px;
    height: 449.5px;
    overflow: visible;
    padding: 0px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-16 {
    opacity: 1;
    transform: perspective(1200px);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.000833333, 0, 0, 0, 1);
    flex: 0 0 auto;
    height: auto;
    max-width: 750px;
    position: relative;
    width: 47%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-17 {
    display: contents;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.style-18 {
    background-color: var(--token-bbe70a49-69b1-4663-bb59-db1309f939d9, rgb(237, 237, 250));
    border-radius: 20px;
    max-width: 100%;
    width: 100%;
    opacity: 1;
    border-radius: 20px;
    max-width: 100%;
    width: 100%;
    opacity: 1;
    place-content: flex-start center;
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    height: 446px;
    padding: 78px 40px 35px;
    position: relative;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-19 {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    opacity: 1;
    border-radius: 20px;
    opacity: 1;
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 10px;
    height: 50px;
    overflow: hidden;
    padding: 9px;
    position: relative;
    width: 50px;
    will-change: transform;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-20 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-8d3b0b5c-ed9a-45d2-b302-4c9cef737fdc, rgb(130, 71, 255));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-8d3b0b5c-ed9a-45d2-b302-4c9cef737fdc, rgb(130, 71, 255));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    position: relative;
    flex: 0 0 auto;
    height: auto;
    white-space: pre;
    width: auto;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-21 {
    --font-selector: R0Y7T3V0Zml0LTYwMA==;
    --framer-font-family: &quot,
    Outfit&quot,
    sans-serif;
    --framer-font-size: 28px;
    --framer-font-weight: 600;
    --framer-text-color: var(--extracted-r6o4lv)font-family:Outfit, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(130, 71, 255);
    font-size: 28px;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none solid rgb(130, 71, 255);
    line-height: 33.6px;
    text-align: start;
    margin: 0px;
    padding: 0px;
    font-family: Outfit, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-22 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-a0htzi: var(--token-d23dd5a9-b486-4fa3-8394-2cd7943f28da, rgb(28, 28, 28));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-a0htzi: var(--token-d23dd5a9-b486-4fa3-8394-2cd7943f28da, rgb(28, 28, 28));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    position: relative;
    flex: 0 0 auto;
    height: auto;
    max-width: 500px;
    overflow: visible;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-23 {
    --framer-text-alignment: left;
    --framer-text-color: var(--extracted-a0htzi)font-family:Outfit, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(28, 28, 28);
    font-size: 42px;
    letter-spacing: -1px;
    text-transform: none;
    text-decoration: none solid rgb(28, 28, 28);
    line-height: 54.6px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    --framer-font-family: 'Outfit', sans-serif;
    --framer-font-size: 42px;
    --framer-font-style: normal;
    --framer-font-weight: 500;
    --framer-letter-spacing: -1px;
    --framer-line-height: 1.3em;
    --framer-paragraph-spacing: 40px;
    --framer-text-decoration: none;
    --framer-text-transform: none;
    font-family: Outfit, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-24 {
    opacity: 1;
    transform: perspective(1200px);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.000833333, 0, 0, 0, 1);
    flex: 0 0 auto;
    height: auto;
    max-width: 750px;
    position: relative;
    width: 50%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-25 {
    display: contents;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.style-26 {
    --border-bottom-width: 1px;
    --border-color: var(--token-bbe70a49-69b1-4663-bb59-db1309f939d9, rgb(237, 237, 250));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    border-radius: 30px;
    max-width: 100%;
    width: 100%;
    opacity: 1;
    --border-color: var(--token-bbe70a49-69b1-4663-bb59-db1309f939d9, rgb(237, 237, 250));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    border-radius: 30px;
    max-width: 100%;
    width: 100%;
    opacity: 1;
    place-content: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 0px;
    height: 449.5px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    will-change: transform;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-27 {
    border-radius: 20px;
    opacity: 1;
    opacity: 1;
    flex: 0 0 auto;
    height: 323px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-28 {
    position: absolute;
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.style-29 {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    image-rendering: auto;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.style-30 {
    opacity: 1;
    place-content: flex-start flex-end;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: 126.5px;
    padding: 30px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-31 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-d23dd5a9-b486-4fa3-8394-2cd7943f28da, rgb(7, 6, 27));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-d23dd5a9-b486-4fa3-8394-2cd7943f28da, rgb(7, 6, 27));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    position: relative;
    flex: 0 0 auto;
    height: auto;
    overflow: visible;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-32 {
    --framer-text-color: var(--extracted-r6o4lv)font-family:Outfit, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(28, 28, 28);
    font-size: 25px;
    letter-spacing: -0.5px;
    text-transform: none;
    text-decoration: none solid rgb(28, 28, 28);
    line-height: 32.5px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    --framer-font-family: 'Outfit', sans-serif;
    --framer-font-size: 25px;
    --framer-font-style: normal;
    --framer-font-weight: 600;
    --framer-letter-spacing: -.5px;
    --framer-line-height: 1.3em;
    --framer-paragraph-spacing: 40px;
    --framer-text-alignment: left;
    --framer-text-decoration: none;
    --framer-text-transform: none;
    font-family: Outfit, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-33 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-c2cb5cfb-ae03-498f-bf71-8ab828c3e13b, rgb(118, 117, 117));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-c2cb5cfb-ae03-498f-bf71-8ab828c3e13b, rgb(118, 117, 117));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    position: relative;
    flex: 0 0 auto;
    height: auto;
    overflow: visible;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-34 {
    --framer-text-color: var(--extracted-r6o4lv)font-family:Inter-Medium, Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(118, 117, 117);
    font-size: 16px;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none solid rgb(118, 117, 117);
    line-height: 24px;
    text-align: start;
    margin: 0px;
    padding: 0px;
    --framer-font-family: 'Inter-Medium', 'Inter', sans-serif;
    --framer-font-size: 16px;
    --framer-font-style: normal;
    --framer-font-weight: 500;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.5em;
    --framer-paragraph-spacing: 20px;
    --framer-text-alignment: start;
    --framer-text-decoration: none;
    --framer-text-transform: none;
    font-family: Inter-Medium, Inter, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-35 {
    display: grid;
    flex: 0 0 auto;
    gap: 40px;
    grid-auto-rows: minmax(0px, 1fr);
    grid-template-columns: 373.325px 373.337px 373.337px;
    grid-template-rows: 451.237px;
    height: 451.237px;
    justify-content: center;
    overflow: visible;
    padding: 0px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-36 {
    opacity: 1;
    transform: perspective(1200px);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.000833333, 0, 0, 0, 1);
    place-self: start;
    flex: 0 0 auto;
    height: 451.237px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-37 {
    display: contents;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.style-38 {
    --border-bottom-width: 1px;
    --border-color: var(--token-bbe70a49-69b1-4663-bb59-db1309f939d9, rgb(237, 237, 250));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    border-radius: 30px;
    width: 100%;
    opacity: 1;
    --border-color: var(--token-bbe70a49-69b1-4663-bb59-db1309f939d9, rgb(237, 237, 250));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    border-radius: 30px;
    width: 100%;
    opacity: 1;
    place-content: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 0px;
    height: 451.225px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    will-change: transform;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-39 {
    border-radius: 20px;
    opacity: 1;
    opacity: 1;
    aspect-ratio: 1.24138 / 1;
    flex: 0 0 auto;
    height: 300.725px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-40 {
    position: absolute;
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.style-41 {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    image-rendering: auto;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.style-42 {
    opacity: 1;
    place-content: flex-start flex-end;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: 150.5px;
    padding: 30px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-43 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-a0htzi: var(--token-d23dd5a9-b486-4fa3-8394-2cd7943f28da, rgb(7, 6, 27));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-a0htzi: var(--token-d23dd5a9-b486-4fa3-8394-2cd7943f28da, rgb(7, 6, 27));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    position: relative;
    flex: 0 0 auto;
    height: auto;
    overflow: visible;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-44 {
    --framer-text-color: var(--extracted-a0htzi)font-family:Outfit, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(28, 28, 28);
    font-size: 25px;
    letter-spacing: -0.5px;
    text-transform: none;
    text-decoration: none solid rgb(28, 28, 28);
    line-height: 32.5px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    --framer-font-family: 'Outfit', sans-serif;
    --framer-font-size: 25px;
    --framer-font-style: normal;
    --framer-font-weight: 600;
    --framer-letter-spacing: -.5px;
    --framer-line-height: 1.3em;
    --framer-paragraph-spacing: 40px;
    --framer-text-alignment: left;
    --framer-text-decoration: none;
    --framer-text-transform: none;
    font-family: Outfit, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-45 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-c2cb5cfb-ae03-498f-bf71-8ab828c3e13b, rgb(118, 117, 117));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-c2cb5cfb-ae03-498f-bf71-8ab828c3e13b, rgb(118, 117, 117));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    position: relative;
    flex: 0 0 auto;
    height: auto;
    overflow: visible;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-46 {
    --framer-text-color: var(--extracted-r6o4lv)font-family:Inter-Medium, Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(118, 117, 117);
    font-size: 16px;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none solid rgb(118, 117, 117);
    line-height: 24px;
    text-align: start;
    margin: 0px;
    padding: 0px;
    --framer-font-family: 'Inter-Medium', 'Inter', sans-serif;
    --framer-font-size: 16px;
    --framer-font-style: normal;
    --framer-font-weight: 500;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.5em;
    --framer-paragraph-spacing: 20px;
    --framer-text-alignment: start;
    --framer-text-decoration: none;
    --framer-text-transform: none;
    font-family: Inter-Medium, Inter, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-47 {
    opacity: 1;
    transform: perspective(1200px);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.000833333, 0, 0, 0, 1);
    place-self: start;
    flex: 0 0 auto;
    height: 451.237px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-48 {
    display: contents;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.style-49 {
    --border-bottom-width: 1px;
    --border-color: var(--token-bbe70a49-69b1-4663-bb59-db1309f939d9, rgb(237, 237, 250));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    border-radius: 30px;
    width: 100%;
    opacity: 1;
    --border-color: var(--token-bbe70a49-69b1-4663-bb59-db1309f939d9, rgb(237, 237, 250));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    border-radius: 30px;
    width: 100%;
    opacity: 1;
    place-content: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 0px;
    height: 451.237px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    will-change: transform;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-50 {
    border-radius: 20px;
    opacity: 1;
    opacity: 1;
    aspect-ratio: 1.24138 / 1;
    flex: 0 0 auto;
    height: 300.737px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-51 {
    position: absolute;
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0 ;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-52 {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    image-rendering: auto;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.style-53 {
    opacity: 1;
    place-content: flex-start flex-end;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: 150.5px;
    padding: 30px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-54 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-a0htzi: var(--token-d23dd5a9-b486-4fa3-8394-2cd7943f28da, rgb(7, 6, 27));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-a0htzi: var(--token-d23dd5a9-b486-4fa3-8394-2cd7943f28da, rgb(7, 6, 27));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    position: relative;
    flex: 0 0 auto;
    height: auto;
    overflow: visible;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-55 {
    --framer-text-color: var(--extracted-a0htzi)font-family:Outfit, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(28, 28, 28);
    font-size: 25px;
    letter-spacing: -0.5px;
    text-transform: none;
    text-decoration: none solid rgb(28, 28, 28);
    line-height: 32.5px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    --framer-font-family: 'Outfit', sans-serif;
    --framer-font-size: 25px;
    --framer-font-style: normal;
    --framer-font-weight: 600;
    --framer-letter-spacing: -.5px;
    --framer-line-height: 1.3em;
    --framer-paragraph-spacing: 40px;
    --framer-text-alignment: left;
    --framer-text-decoration: none;
    --framer-text-transform: none;
    font-family: Outfit, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-56 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-c2cb5cfb-ae03-498f-bf71-8ab828c3e13b, rgb(118, 117, 117));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-c2cb5cfb-ae03-498f-bf71-8ab828c3e13b, rgb(118, 117, 117));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    position: relative;
    flex: 0 0 auto;
    height: auto;
    overflow: visible;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-57 {
    --framer-text-color: var(--extracted-r6o4lv)font-family:Inter-Medium, Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(118, 117, 117);
    font-size: 16px;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none solid rgb(118, 117, 117);
    line-height: 24px;
    text-align: start;
    margin: 0px;
    padding: 0px;
    --framer-font-family: 'Inter-Medium', 'Inter', sans-serif;
    --framer-font-size: 16px;
    --framer-font-style: normal;
    --framer-font-weight: 500;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.5em;
    --framer-paragraph-spacing: 20px;
    --framer-text-alignment: start;
    --framer-text-decoration: none;
    --framer-text-transform: none;
    font-family: Inter-Medium, Inter, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-58 {
    opacity: 1;
    transform: perspective(1200px);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.000833333, 0, 0, 0, 1);
    place-self: start;
    flex: 0 0 auto;
    height: 451.237px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-59 {
    display: contents;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.style-60 {
    --border-bottom-width: 1px;
    --border-color: var(--token-bbe70a49-69b1-4663-bb59-db1309f939d9, rgb(237, 237, 250));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    border-radius: 30px;
    width: 100%;
    opacity: 1;
    --border-color: var(--token-bbe70a49-69b1-4663-bb59-db1309f939d9, rgb(237, 237, 250));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    border-radius: 30px;
    width: 100%;
    opacity: 1;
    place-content: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 0px;
    height: 451.237px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    will-change: transform;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-61 {
    border-radius: 20px;
    opacity: 1;
    opacity: 1;
    aspect-ratio: 1.24138 / 1;
    flex: 0 0 auto;
    height: 300.737px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-62 {
    position: absolute;
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0 ;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.style-63 {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    image-rendering: auto;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.style-64 {
    opacity: 1;
    place-content: flex-start flex-end;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: 150.5px;
    padding: 30px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-65 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-a0htzi: var(--token-d23dd5a9-b486-4fa3-8394-2cd7943f28da, rgb(7, 6, 27));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-a0htzi: var(--token-d23dd5a9-b486-4fa3-8394-2cd7943f28da, rgb(7, 6, 27));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    position: relative;
    flex: 0 0 auto;
    height: auto;
    overflow: visible;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-66 {
    --framer-text-color: var(--extracted-a0htzi)font-family:Outfit, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(28, 28, 28);
    font-size: 25px;
    letter-spacing: -0.5px;
    text-transform: none;
    text-decoration: none solid rgb(28, 28, 28);
    line-height: 32.5px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    --framer-font-family: 'Outfit', sans-serif;
    --framer-font-size: 25px;
    --framer-font-style: normal;
    --framer-font-weight: 600;
    --framer-letter-spacing: -.5px;
    --framer-line-height: 1.3em;
    --framer-paragraph-spacing: 40px;
    --framer-text-alignment: left;
    --framer-text-decoration: none;
    --framer-text-transform: none;
    font-family: Outfit, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-67 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-c2cb5cfb-ae03-498f-bf71-8ab828c3e13b, rgb(118, 117, 117));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: var(--token-c2cb5cfb-ae03-498f-bf71-8ab828c3e13b, rgb(118, 117, 117));
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    position: relative;
    flex: 0 0 auto;
    height: auto;
    overflow: visible;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.style-68 {
    --framer-text-color: var(--extracted-r6o4lv)font-family:Inter-Medium, Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(118, 117, 117);
    font-size: 16px;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none solid rgb(118, 117, 117);
    line-height: 24px;
    text-align: start;
    margin: 0px;
    padding: 0px;
    --framer-font-family: 'Inter-Medium', 'Inter', sans-serif;
    --framer-font-size: 16px;
    --framer-font-style: normal;
    --framer-font-weight: 500;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.5em;
    --framer-paragraph-spacing: 20px;
    --framer-text-alignment: start;
    --framer-text-decoration: none;
    --framer-text-transform: none;
    font-family: Inter-Medium, Inter, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}